@if ((query | async)?.data?.driver == null) {
  <nz-empty [nzNotFoundContent]="contentTpl"
    [nzNotFoundFooter]="footerTpl">
    <ng-template #contentTpl>
      <span>
        {{'drivers.notFoundMessage' | translate}}
      </span>
    </ng-template>
    <ng-template #footerTpl>
      <button nz-button nzType="primary" routerLink="/drivers">{{'profile.goToList' | translate}}</button>
    </ng-template>
  </nz-empty>
}
@if ((query | async)?.data?.driver; as driver) {
  <div class="kasi-profile-head">
    <div class="kasi-profile-head__avatar">
      @if (driver.media?.address) {
        <img [src]="root + $safeNavigationMigration(driver.media?.address)" />
      }
      @if (!driver.media?.address) {
        <i nz-icon nzType="user"></i>
      }
    </div>
    <div class="kasi-profile-head__main">
      <h1 class="kasi-profile-head__name">{{driver.firstName}} {{driver.lastName}}</h1>
      <div class="kasi-profile-head__meta">
        <span>{{'profile.registeredOn' | translate}} {{driver.registrationTimestamp | timeago}}</span>
        @if (driver.status !== 'Online') {
          <span>{{'driver.profile.lastSeenAt' | translate}}: {{driver.lastSeenTimestamp
          != null ? (driver.lastSeenTimestamp | timeago) : '-'}}</span>
        }
        <span>{{'driver.profile.rating' | translate}}: {{(driver.rating !== null ? (('profile.ratingSummary' | translate:
        { percent: driver.rating, count: driver.reviewCount })) : ('profile.notAvailable' | translate))}}</span>
      </div>
      <div class="kasi-profile-head__tags">
        <nz-tag [nzColor]="tagColor.driver(driver.status)">{{('enum.driver.status.' + toCamelCase(driver.status)) |
        translate}}</nz-tag>
        @if ((query | async)?.data?.driverFeedbackParametersSummary; as summary) {
          @for (parameter of summary; track parameter) {
            <nz-tag [nzColor]="tagColor.boolean(parameter.isGood)">{{parameter.count}} x
            {{parameter.title}}</nz-tag>
          }
        }
      </div>
    </div>
    <div class="kasi-profile-head__actions">
      <button nz-button [nzType]="'dashed'" nzDanger (click)="deleteDriver(driver.id)">
        <i nz-icon nzType="delete"></i>
      </button>
      <button nz-button nz-dropdown [nzDropdownMenu]="menu4">
        {{'driver.profile.changeStatus' | translate}}
        <i nz-icon nzType="down"></i>
      </button>
      <nz-dropdown-menu #menu4="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)='changeStatus(driverStatus.PendingApproval)'>{{'enum.driver.status.pendingApproval' |
          translate}}</li>
          <li nz-menu-item (click)="changeStatus(driverStatus.Offline)">{{'enum.driver.status.approved' | translate}}
          </li>
          <li nz-menu-item (click)="changeStatus(driverStatus.Blocked)">{{'enum.driver.status.blocked' | translate}}
          </li>
          <li nz-menu-item (click)="changeStatus(driverStatus.SoftReject)">{{'enum.driver.status.softReject' |
          translate}}</li>
          <li nz-menu-item (click)="changeStatus(driverStatus.HardReject)">{{'enum.driver.status.hardReject' |
          translate}}</li>
          <li nz-menu-item (click)="changeStatus(driverStatus.Offline)">{{'enum.driver.status.offline' | translate}}
          </li>
          <li nz-menu-item (click)="changeStatus(driverStatus.WaitingDocuments)">{{'enum.driver.status.waitingDocuments'
          | translate}}</li>
          <li nz-menu-item hidden (click)="changeStatus(driverStatus.InService)">{{'enum.driver.status.inService' |
          translate}}</li>
          <li nz-menu-item hidden (click)="changeStatus(driverStatus.Online)">{{'enum.driver.status.online' |
          translate}}</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
  <div class="kasi-tabs">
    <nz-tabs [nzLinkExact]="false" nzLinkRouter>
      <nz-tab>
        <a *nzTabLink nz-tab-link routerLink="details">{{'driver.profile.details' | translate}}</a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link routerLink="orders">{{'driver.profile.orders' | translate}}</a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link routerLink="financial">{{'driver.profile.financials' | translate}}</a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link routerLink="reviews">{{'driver.profile.reviews' | translate}}</a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link routerLink="documents">{{'driver.profile.documents' | translate}}</a>
      </nz-tab>
    </nz-tabs>
  </div>
  <router-outlet></router-outlet>
}