<div class="kasi-page-head">
  <div class="kasi-page-head__text">
    <h1 class="kasi-title">{{ 'settings.generalSettings' | translate }}</h1>
  </div>
</div>
<div class="kasi-tabs">
  <nz-tabs [nzLinkExact]="false" nzLinkRouter>
    <nz-tab>
      <a *nzTabLink nz-tab-link routerLink="password">{{ 'settings.changePasswordTitle' | translate }}</a>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link routerLink="map">{{ 'menu.management.mapSettings' | translate }}</a>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link routerLink="payment-gateways">{{ 'menu.management.paymentGateways' | translate }}</a>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link routerLink="email-providers">{{ 'menu.management.emailProviders' | translate }}</a>
    </nz-tab>
  </nz-tabs>
</div>
<router-outlet></router-outlet>
