<div class="kasi-page-head">
  <div class="kasi-page-head__text">
    <h1 class="kasi-title">{{ 'form.newRider.title' | translate }}</h1>
    <p>{{ 'form.newRider.subtitle' | translate }}</p>
  </div>
</div>
<div class="kasi-card">
  <div class="kasi-card__body">
    <form nz-form class="kasi-form kasi-form--grid" [formGroup]="form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="firstName">{{ 'profile.firstName' | translate }}</nz-form-label>
        <nz-form-control [nzErrorTip]="'form.notValidFirstName' | translate">
          <input nz-input formControlName="firstName" id="firstName" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="lastName">{{ 'profile.lastName' | translate }}</nz-form-label>
        <nz-form-control [nzErrorTip]="'form.notValidLastName' | translate">
          <input nz-input formControlName="lastName" id="lastName" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="phoneNumber" nzRequired>{{ 'profile.phoneNumber' | translate }}</nz-form-label>
        <nz-form-control>
          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
            <ng-template #addOnBeforeTemplate>
              <nz-select formControlName="phoneNumberPrefix" class="phone-select">
                <nz-option *ngFor="let code of countryCodes" [nzLabel]="code.name + ' (' + code.dial_code + ')'" [nzValue]="code.dial_code"></nz-option>
              </nz-select>
            </ng-template>
            <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="gender">{{ 'profile.gender' | translate }}</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="gender">
            <nz-option [nzLabel]="'enum.gender.male' | translate" nzValue="Male"></nz-option>
            <nz-option [nzLabel]="'enum.gender.female' | translate" nzValue="Female"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
    <div class="kasi-form-actions">
      <button nz-button nzType="primary" [disabled]="form.invalid" (click)="submitForm()">{{ 'form.register' | translate }}</button>
    </div>
  </div>
</div>
