<div fxLayout="row" fxLayoutGap="4px" class="dt-actionbar">
  <!--<button nz-button nzType="primary"><i nz-icon nzType="plus"></i>Add</button>-->
</div>
<div class="kasi-card">
  <div class="kasi-card__body kasi-card__body--flush">
    @if ((query | async)?.data?.fleet?.zonePrices; as zonePrices) {
      <nz-table #table nzShowSizeChanger [nzFrontPagination]="false"
        [nzData]="zonePrices.nodes"
        [nzTotal]="zonePrices.totalCount" (nzQueryParams)="tableService.onTableQueryParamsChange">
        <thead>
          <tr>
            <th>
              {{ 'profile.name' | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          @for (data of table.data; track data) {
            <tr [routerLink]="'/management/zone-prices/view/' + data.id"
              class="group cursor-pointer">
              <td>{{ data.name }}</td>
            </tr>
          }
        </tbody>
      </nz-table>
    }
  </div>
</div>