@if ((query | async)?.data?.order; as order) {
  <div class="kasi-profile-head">
    <div class="kasi-profile-head__main">
      <h1 class="kasi-profile-head__name">{{ 'requests.header' | translate }}{{order.id}}</h1>
      <div class="kasi-profile-head__meta">
        <span>{{ 'requests.requestTIme' | translate }}: {{(order.createdOn | date: 'short')}}</span>
        <span>{{ 'requests.expectedTime' | translate }}: {{(order.expectedTimestamp | date: 'short')}}</span>
        <span>{{ 'requests.service' | translate }}: {{order.service?.name || '-'}}</span>
        <span>{{ 'requests.distance' | translate }}: {{order.distanceBest }}m</span>
        <span>{{ 'requests.duration' | translate }}: {{ (order.durationBest / 60).toFixed() }}:{{order.durationBest %
        60}}</span>
        <span>{{ 'profile.locations' | translate }}: {{order.addresses.join(' -> ')}}</span>
      </div>
      <div class="kasi-profile-head__tags">
        <nz-tag [nzColor]="tagColor.orderStatus(order.status)">{{'enum.request.' + order.status | translate}}</nz-tag>
      </div>
    </div>
    <div class="kasi-profile-head__actions">
      <nz-statistic nzTitle="{{ 'profile.cost' | translate }}"
      [nzValue]="(order.costAfterCoupon | currency: order.currency) ?? 0"></nz-statistic>
    </div>
  </div>
  <div class="kasi-tabs">
    <nz-tabset nzLinkRouter>
      <nz-tab>
        <a *nzTabLink nz-tab-link routerLink="info">{{ 'profile.details' | translate }}</a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link routerLink="activities">{{ 'profile.activities' | translate }}</a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link routerLink="financials">{{ 'profile.financialRecords' | translate }}</a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link routerLink="chats">{{ 'requests.chats' | translate }}</a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link routerLink="complaints">{{ 'requests.complaints' | translate }}</a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link routerLink="assign">{{ 'requests.assign' | translate }}</a>
      </nz-tab>
    </nz-tabset>
  </div>
  <router-outlet></router-outlet>
}