<ng-container *ngIf="(query | async)?.data as data">
  <div class="kasi-page-head">
    <div class="kasi-page-head__text">
      <h1 class="kasi-title">{{ 'service.title' | translate }}</h1>
      <p>{{ 'service.subtitle' | translate }}</p>
    </div>
  </div>

  <form nz-form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="hidden" hidden formControlName="id">
    <input type="hidden" hidden formControlName="regions">
    <div class="kasi-form-sections">
      <section class="kasi-form-section">
        <div class="kasi-form-section__aside">
          <h2 class="kasi-form-section__title">{{ 'service.section.general.title' | translate }}</h2>
          <p class="kasi-form-section__desc">{{ 'service.section.general.desc' | translate }}</p>
        </div>
        <div class="kasi-form-section__body">
          <div class="kasi-form kasi-form--grid">
            <nz-form-item>
              <nz-form-label nzFor="name" nzRequired>{{ 'profile.name' | translate }}</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="name" id="name">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="description">{{ 'profile.description' | translate }}</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="description" id="description">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="categoryId" nzRequired>{{ 'service.category' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="categoryId" id="categoryId">
                  <nz-option *ngFor="let category of data.serviceCategories" [nzValue]="category.id"
                    [nzLabel]="category.name"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="personCapacity">{{ 'service.maxPersonCapacity' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="personCapacity" id="personCapacity" [nzMin]="0" [nzMax]="100">
                </nz-input-number>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="kasi-form__full">
              <nz-form-label nzRequired>
                {{ 'service.Regions' | translate }}
              </nz-form-label>
              <nz-form-control>
                <nz-tag *ngFor="let region of data.regions.nodes" nzMode="checkable"
                  [nzChecked]="form.value.regions.indexOf(region.id) > -1"
                  (nzCheckedChange)="handleRegionCheckChange($event, region)">
                  {{ region.name }}
                </nz-tag>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="kasi-form__full">
              <nz-form-label nzRequired>{{ 'profile.image' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-upload [nzAction]="root + 'upload'" [nzHeaders]="{Authorization: 'Bearer ' + jwt}"
                  (nzChange)="handleUploadChange($event)" [nzBeforeUpload]="beforeUpload" nzListType="picture-card"
                  [nzShowUploadList]="false">
                  <ng-container *ngIf="!avatarUrl">
                    <i class="upload-icon" nz-icon [nzType]="loadingUpload ? 'loading' : 'plus'"></i>
                    <div class="ant-upload-text">{{ 'profile.upload' | translate }}</div>
                  </ng-container>
                  <img *ngIf="avatarUrl" [src]="root + avatarUrl" style="width: 100%" />
                </nz-upload>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </section>

      <section class="kasi-form-section">
        <div class="kasi-form-section__aside">
          <h2 class="kasi-form-section__title">{{ 'service.section.pricing.title' | translate }}</h2>
          <p class="kasi-form-section__desc">{{ 'service.section.pricing.desc' | translate }}</p>
        </div>
        <div class="kasi-form-section__body">
          <div class="kasi-form kasi-form--grid">
            <nz-form-item>
              <nz-form-label nzFor="baseFare" nzRequired>{{ 'service.baseFare' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="baseFare" id="baseFare" nzRequired [nzFormatter]="formatterPrice">
                </nz-input-number>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="perHundredMeters">{{ 'service.perHundredMeters' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="perHundredMeters" id="perHundredMeters" nzRequired
                  [nzFormatter]="formatterPrice"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="perMinuteDrive">{{ 'service.perMinuteDrive' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="perMinuteDrive" id="perMinuteDrive" nzRequired
                  [nzFormatter]="formatterPrice"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="perMinuteWait">{{ 'service.perMinuteWait' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="perMinuteWait" id="perMinuteWait" nzRequired
                  [nzFormatter]="formatterPrice"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="prepayPercent">{{ 'service.prepayPercent' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="prepayPercent" id="prepayPercent" nzRequired
                  [nzFormatter]="formatterPercent" [nzParser]="parserPercent" [nzMax]="200" [nzMin]="0"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="minimumFee">{{ 'service.minimumFee' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="minimumFee" id="minimumFee" nzRequired [nzFormatter]="formatterPrice">
                </nz-input-number>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="roundingFactor">{{ 'service.roundingFactor' | translate }}</nz-form-label>
              <nz-form-control [nzErrorTip]="'service.roundingFactorError' | translate">
                <nz-input-number formControlName="roundingFactor" id="roundingFactor" [nzMin]="0.01" [nzMax]="100"
                  [nzFormatter]="formatterPrice">
                </nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </section>

      <section class="kasi-form-section">
        <div class="kasi-form-section__aside">
          <h2 class="kasi-form-section__title">{{ 'service.section.commission.title' | translate }}</h2>
          <p class="kasi-form-section__desc">{{ 'service.section.commission.desc' | translate }}</p>
        </div>
        <div class="kasi-form-section__body">
          <div class="kasi-form kasi-form--grid">
            <nz-form-item>
              <nz-form-label nzFor="providerSharePercent" nzRequired>{{ 'service.providerSharePercent' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="providerSharePercent" id="providerSharePercent" nzRequired
                  [nzFormatter]="formatterPercent" [nzParser]="parserPercent" [nzMax]="100" [nzMin]="0"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="providerShareFlat" nzRequired>{{ 'service.providerShareFlat' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="providerShareFlat" id="providerShareFlat" nzRequired
                  [nzFormatter]="formatterPrice"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="cancellationTotalFee" nzRequired>{{ 'service.cancellationTotalFee' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="cancellationTotalFee" id="cancellationTotalFee" nzRequired
                  [nzFormatter]="formatterPrice">
                </nz-input-number>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="cancellationDriverShare" nzRequired>{{ 'service.cancellationDriverShare' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="cancellationDriverShare" id="cancellationDriverShare" nzRequired
                  [nzFormatter]="formatterPrice">
                </nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </section>

      <section class="kasi-form-section">
        <div class="kasi-form-section__aside">
          <h2 class="kasi-form-section__title">{{ 'service.section.availability.title' | translate }}</h2>
          <p class="kasi-form-section__desc">{{ 'service.section.availability.desc' | translate }}</p>
        </div>
        <div class="kasi-form-section__body">
          <div class="kasi-form kasi-form--grid">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="maximumDestinationDistance">{{ 'service.maximumDistance' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="maximumDestinationDistance" id="maximumDestinationDistance" nzRequired
                  [nzFormatter]="formatterMeters" [nzParser]="parserMeters"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="searchRadius">{{ 'service.searchRadius' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="searchRadius" id="searchRadius" nzRequired
                  [nzFormatter]="formatterMeters" [nzParser]="parserMeters"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="paymentMethod">{{ 'service.paymentMethod' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="paymentMethod" id="paymentMethod">
                  <nz-option *ngFor="let paymentMethod of paymentMethods" [nzValue]="paymentMethod"
                    [nzLabel]="paymentMethod">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="orderType">{{ 'service.orderType' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="orderType" id="orderType">
                  <nz-option *ngFor="let orderType of orderTypes" [nzValue]="orderType"
                    [nzLabel]="'service.orderTypes.' + orderType | translate">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="twoWayAvailable" nzRequired>{{ 'service.twoWayAvailable' | translate }}</nz-form-label>
              <nz-form-control>
                <nz-switch formControlName="twoWayAvailable" id="twoWayAvailable"></nz-switch>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </section>
    </div>
  </form>

  <h2 class="kasi-section-title mt-2">{{ 'service.timeMultiplierTitle' | translate }}</h2>
  <div class="kasi-card">
    <div class="kasi-card__body">
      <ul nz-list [nzDataSource]="form.value.timeMultipliers" nzBordered>
        <li nz-list-item *ngFor="let item of form.value.timeMultipliers">
          <nz-tag>{{item.multiply}}x</nz-tag>
          <ul nz-list-item-actions>
            <nz-list-item-action>
              <a (click)="removeTimeRule(item)">{{ 'profile.delete' | translate }}</a>
            </nz-list-item-action>
          </ul>
          {{ item.startTime }} - {{ item.endTime }}
        </li>
      </ul>
      <div class="kasi-form kasi-form--grid kasi-form--3 mt-2">
        <nz-form-item>
          <nz-form-label>{{ 'service.timeMultiplierTable.startTime' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-time-picker #timeStartPicker nzPlaceHolder="{{ 'service.timeMultiplierTable.startTime' | translate }}"
              nzFormat="HH:mm"></nz-time-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>{{ 'service.timeMultiplierTable.endTime' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-time-picker #timeEndPicker nzPlaceHolder="{{ 'service.timeMultiplierTable.endTime' | translate }}"
              nzFormat="HH:mm"></nz-time-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>{{ 'service.timeMultiplierTable.multiplyBy' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-input-number #timeMultiplyInput
              nzPlaceHolder="{{ 'service.timeMultiplierTable.multiplyBy' | translate }}"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="kasi-form-actions">
        <button nz-button nzType="primary" (click)="insertTimeRule()"
          [disabled]="timeStartPicker.value == null || timeEndPicker.value == null || timeMultiplyInput.inputElement.nativeElement.value == ''">{{
          'service.insertRule' | translate }}</button>
      </div>
    </div>
  </div>

  <h2 class="kasi-section-title mt-2">{{ 'service.distanceMultiplierTitle' | translate }}</h2>
  <div class="kasi-card">
    <div class="kasi-card__body">
      <ul nz-list [nzDataSource]="form.value.distanceMultipliers" nzBordered>
        <li nz-list-item *ngFor="let item of form.value.distanceMultipliers">
          <nz-tag>{{item.multiply}}x</nz-tag>
          <ul nz-list-item-actions>
            <nz-list-item-action>
              <a (click)="removeDistanceRule(item)">{{ 'profile.delete' | translate }}</a>
            </nz-list-item-action>
          </ul>
          {{ item.distanceFrom }} - {{ item.distanceTo }}
        </li>
      </ul>
      <div class="kasi-form kasi-form--grid kasi-form--3 mt-2">
        <nz-form-item>
          <nz-form-label>{{ 'service.distanceMultiplierTable.distanceFrom' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-input-number #distanceFromInput
              nzPlaceHolder="{{ 'service.distanceMultiplierTable.distanceFrom' | translate }}"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>{{ 'service.distanceMultiplierTable.distanceTo' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-input-number #distanceToInput
              nzPlaceHolder="{{ 'service.distanceMultiplierTable.distanceTo' | translate }}"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>{{ 'service.timeMultiplierTable.multiplyBy' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-input-number #distanceMultiplyInput
              nzPlaceHolder="{{ 'service.timeMultiplierTable.multiplyBy' | translate }}"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="kasi-form-actions">
        <button nz-button nzType="primary" (click)="insertDistanceRule()"
          [disabled]="distanceFromInput.inputElement.nativeElement.value == '' || distanceToInput.inputElement.nativeElement.value == '' || distanceMultiplyInput.inputElement.nativeElement.value == ''">{{
          'service.insertRule' | translate }}</button>
      </div>
    </div>
  </div>

  <h2 class="kasi-section-title mt-2">{{ 'service.weekdayMultiplierTitle' | translate }}</h2>
  <div class="kasi-card">
    <div class="kasi-card__body">
      <ul nz-list [nzDataSource]="form.value.weekdayMultipliers" nzBordered>
        <li nz-list-item *ngFor="let item of form.value.weekdayMultipliers">
          <nz-tag>{{item.multiply}}x</nz-tag>
          <ul nz-list-item-actions>
            <nz-list-item-action>
              <a (click)="removeWeekdayRule(item)">{{ 'profile.delete' | translate }}</a>
            </nz-list-item-action>
          </ul>
          {{ item.weekday }}
        </li>
      </ul>
      <div class="kasi-form kasi-form--grid kasi-form--3 mt-2">
        <nz-form-item>
          <nz-form-label>{{ 'service.weekdayMultiplierTable.weekday' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-select #weekdaySelectInput nzPlaceHolder="{{ 'service.weekdayMultiplierTable.weekday' | translate }}">
              <nz-option *ngFor="let weekday of Weekdays" [nzLabel]="weekday.label"
                [nzValue]="weekday.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>{{ 'service.timeMultiplierTable.multiplyBy' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-input-number #weekdayMultiplyInput
              nzPlaceHolder="{{ 'service.timeMultiplierTable.multiplyBy' | translate }}"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="kasi-form-actions">
        <button nz-button nzType="primary" (click)="insertWeekdayRule()"
          [disabled]="weekdaySelectInput.activatedValue == null || weekdaySelectInput.activatedValue == [] || weekdayMultiplyInput.inputElement.nativeElement.value == ''">{{
          'service.insertRule' | translate }}</button>
      </div>
    </div>
  </div>

  <h2 class="kasi-section-title mt-2">{{ 'service.dateRangeMultiplierTitle' | translate }}</h2>
  <div class="kasi-card">
    <div class="kasi-card__body">
      <ul nz-list [nzDataSource]="form.value.dateRangeMultipliers" nzBordered>
        <li nz-list-item *ngFor="let item of form.value.dateRangeMultipliers">
          <nz-tag>{{item.multiply}}x</nz-tag>
          <ul nz-list-item-actions>
            <nz-list-item-action>
              <a (click)="removeDateRangeRule(item)">{{ 'profile.delete' | translate }}</a>
            </nz-list-item-action>
          </ul>
          {{ item.startDate | date:'yyyy-MM-dd' }} - {{ item.endDate | date:'yyyy-MM-dd' }}
        </li>
      </ul>
      <div class="kasi-form kasi-form--grid kasi-form--3 mt-2">
        <nz-form-item>
          <nz-form-label>{{ 'service.dateRangeMultiplierTable.dateRange' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-range-picker #dateRangePicker></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>{{ 'service.timeMultiplierTable.multiplyBy' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-input-number #dateRangeMultiplyInput
              nzPlaceHolder="{{ 'service.timeMultiplierTable.multiplyBy' | translate }}"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="kasi-form-actions">
        <button nz-button nzType="primary" (click)="insertDateRangeRule()"
          [disabled]="dateRangePicker.inputValue == null || dateRangeMultiplyInput.inputElement.nativeElement.value == ''">{{
          'service.insertRule' | translate }}</button>
      </div>
    </div>
  </div>

  <h2 class="kasi-section-title mt-2">{{ 'service.ridePreferences' | translate }}</h2>
  <div class="kasi-card">
    <div class="kasi-card__body kasi-card__body--flush">
      <nz-table #preferencesTable nzBordered nzShowPagination="false" [nzData]="data.serviceOptions">
        <thead>
          <tr>
            <th class="w-8"></th>
            <th>{{ 'profile.name' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of preferencesTable.data">
            <td [nzChecked]="form.value.options?.includes(data.id) ?? false"
              (nzCheckedChange)="onItemChecked(data.id, $event)" class="w-8"></td>
            <td>
              <div class="flex flex-row group cursor-default">
                <div class="flex items-center ml-2">
                  <div>
                    <div class="text-sm text-neutral-700 group-hover:text-neutral-900">
                      {{ data.name }}
                    </div>
                    <div class="text-sm text-neutral-400 group-hover:text-neutral-700">
                      {{ data.type }} &#8226; {{ data.icon }}
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

  <div class="kasi-form-page-actions">
    <button nz-button nzType="default" type="button" (click)="cancel()">{{ 'form.cancel' | translate }}</button>
    <button nz-button nzType="primary" type="button" (click)="onSubmit()" [disabled]="form.invalid">{{
      'profile.submit' | translate }}</button>
  </div>
</ng-container>

<div class="kasi-card mt-2" *ngIf="this.form.value?.id !== null">
  <div class="kasi-card__head">
    <span class="kasi-card__title">{{ 'profile.dangerArea' | translate }}</span>
  </div>
  <div class="kasi-card__body">
    <p class="text-lg leading-6 font-medium text-gray-900">{{ 'profile.delete' | translate }}</p>
    <p class="mt-2 max-w-xl text-sm text-gray-500">{{ 'profile.deleteNotice' | translate }}</p>
    <button nz-button nzDanger class="mt-2" (click)="deleteService()">{{ 'profile.delete' | translate }}</button>
  </div>
</div>
