<div class="kasi-page-head">
  <div class="kasi-page-head__text">
    <h1 class="kasi-title">{{ 'serviceOption.title' | translate }}</h1>
    <p>{{ 'serviceOption.subtitle' | translate }}</p>
  </div>
</div>
<div class="kasi-card">
  <div class="kasi-card__body">
    <form nz-form class="kasi-form kasi-form--grid" [formGroup]="form" (ngSubmit)="onSubmit()">
    <input formControlName="id" type="hidden" hidden>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="name">{{ 'profile.name' | translate }}</nz-form-label>
      <nz-form-control [nzErrorTip]="'error.nameInvalid' | translate">
        <input nz-input formControlName="name" id="name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="type" nzRequired>{{ 'profile.type' | translate }}</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="type" id="type">
          <nz-option *ngFor="let type of types" [nzLabel]="type" [nzValue]="type">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="icon" nzRequired>{{ 'profile.icon' | translate }}</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="icon" id="icon">
          <nz-option *ngFor="let icon of icons" [nzLabel]="icon" [nzValue]="icon">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="form.value.type == type.Paid">
      <nz-form-label nzRequired nzFor="additionalFee">{{ 'serviceOption.additionalFee' | translate }}</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="additionalFee" id="additionalFee" />
      </nz-form-control>
    </nz-form-item>
    </form>
    <div class="kasi-form-actions">
      <button nz-button nzType="primary" [disabled]="form.invalid" (click)="onSubmit()">{{ 'profile.save' | translate }}</button>
    </div>
  </div>
</div>