@if ((query | async)?.data?.fleet; as fleet) {
  <div class="kasi-profile-head">
    <div class="kasi-profile-head__avatar"><i nz-icon nzType="team"></i></div>
    <div class="kasi-profile-head__main">
      <h1 class="kasi-profile-head__name">{{ fleet.name }}</h1>
      <div class="kasi-profile-head__meta">
        <span>{{ 'profile.phoneNumber' | translate }}: {{ fleet.phoneNumber }}</span>
        <span>{{ 'profile.address' | translate }}: {{ fleet.address }}</span>
      </div>
    </div>
  </div>
  <div class="kasi-tabs">
    <nz-tabs nzLinkRouter>
      <nz-tab>
        <a *nzTabLink nz-tab-link routerLink="details">{{ 'profile.details' | translate }}</a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link routerLink="financials">{{ 'profile.financialRecords' | translate }}</a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link routerLink="zone-prices">{{ 'menu.management.zonePrices' | translate }}</a>
      </nz-tab>
    </nz-tabs>
  </div>
  <router-outlet></router-outlet>
}