<ng-container *ngIf="(query | async)?.data?.complaint as complaint">
  <div class="kasi-profile-head">
    <div class="kasi-profile-head__main">
      <h1 class="kasi-profile-head__name">{{complaint.subject}}</h1>
      <div class="kasi-profile-head__meta">
        <span>{{ 'complaint.inscriptionTime' | translate }}: {{complaint.inscriptionTimestamp | date: 'short'}}</span>
        <span>{{ 'complaint.content' | translate }}: {{complaint.content}}</span>
      </div>
      <div class="kasi-profile-head__tags">
        <nz-tag [nzColor]="tagColor.complaintStatus(complaint.status)">{{ ('enum.complaintStatus.' +
          camelCase(complaint.status)) | translate }}</nz-tag>
      </div>
    </div>
    <div class="kasi-profile-head__actions">
      <button nz-button nz-dropdown [nzDropdownMenu]="menu4">
        {{'driver.profile.changeStatus' | translate}}
        <i nz-icon nzType="down"></i>
      </button>
      <nz-dropdown-menu #menu4="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)='updateStatus(complaintStatus.Resolved)'>{{ 'enum.complaintStatus.resolved' |
            translate }}</li>
          <li nz-menu-item (click)="updateStatus(complaintStatus.UnderInvestigation)">{{
            'enum.complaintStatus.underInvestigation' | translate }}</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
  <div class="kasi-tabs">
    <nz-tabset nzLinkRouter>
      <nz-tab>
        <a *nzTabLink nz-tab-link routerLink="info">{{ 'profile.details' | translate }}</a>
      </nz-tab>
    </nz-tabset>
  </div>
  <router-outlet></router-outlet>
</ng-container>