<nz-page-header [nzGhost]="false" nzBackIcon [nzTitle]="'callMaskingProviders.title' | translate"
  [nzSubtitle]="'callMaskingProviders.subtitle' | translate">
  <nz-page-header-extra>
    <button nz-button nzType="primary" routerLink="new"><i nz-icon nzType="plus"></i>{{ 'profile.add' | translate
      }}</button>
  </nz-page-header-extra>
  <nz-page-header-content>
    <nz-table #table nzShowSizeChanger [nzFrontPagination]="false"
      *ngIf="(query | async)?.data?.callMaskingProviders as callMaskingProviders" [nzData]="callMaskingProviders.nodes"
      [nzTotal]="callMaskingProviders.totalCount" (nzQueryParams)="tableService.onTableQueryParamsChange($event)"
      nzBordered>
      <thead>
        <tr>
          <th>{{ 'profile.name' | translate }}</th>
          <th>{{ 'callMaskingProvider.type' | translate }}</th>
          <th>{{ 'callMaskingProvider.proxyNumber' | translate }}</th>
          <th>{{ 'profile.date' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data" [routerLink]="'view/' + data.id" class="group cursor-pointer">
          <td>
            <span class="mr-2">{{ data.name }}</span>
            <nz-tag *ngIf="data.isDefault" nzColor="blue">{{'callMaskingProvider.default' | translate}}</nz-tag>
            <nz-tag *ngIf="data.enabled == false" nzColor="error">{{'profile.disabled' | translate}}</nz-tag>
          </td>
          <td>{{ 'enum.callMaskingProviderType.' + data.type | translate }}</td>
          <td>{{ data.proxyNumber != null ? data.proxyNumber : '-' }}</td>
          <td>{{ data.createdAt | date: 'short' }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-page-header-content>
</nz-page-header>
