<div class="kasi-page-head">
  <div class="kasi-page-head__text">
    <h1 class="kasi-title">{{ 'giftCards.newBatch' | translate }}</h1>
    <p>{{ 'giftCards.newBatchSubtitle' | translate }}</p>
  </div>
</div>
<div class="kasi-card">
  <div class="kasi-card__body">
    <form nz-form class="kasi-form" nzLayout="vertical" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="kasi-form--grid">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="name">{{ 'profile.name' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="name" id="name">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="currency">{{ 'profile.currency' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="currency" id="currency">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="amount">{{ 'giftCards.amount' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-input-number formControlName="amount" id="amount" [nzMin]="1"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="quantity">{{ 'giftCards.quantity' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-input-number formControlName="quantity" id="quantity" [nzMin]="1"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="availableTimestamp">{{ 'giftCards.availableTimestamp' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="availableTimestamp" id="availableTimestamp"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="expirationTimestamp">{{ 'giftCards.expirationTimestamp' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="expirationTimestamp" id="expirationTimestamp"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
    <div class="kasi-form-actions">
      <button nz-button nzType="primary" [disabled]="form.invalid" type="button" (click)="onSubmit()">{{ 'giftCards.generate' | translate }}</button>
    </div>
  </div>
</div>
