@if ((query | async)?.data?.rider == null) {
  <nz-empty [nzNotFoundContent]="contentTpl"
    [nzNotFoundFooter]="footerTpl">
    <ng-template #contentTpl>
      <span>
        {{'riders.notFoundMessage' | translate}}
      </span>
    </ng-template>
    <ng-template #footerTpl>
      <button nz-button nzType="primary" routerLink="/riders">{{'profile.goToList' | translate}}</button>
    </ng-template>
  </nz-empty>
}
@if ((query | async)?.data?.rider; as rider) {
  <div class="kasi-profile-head">
    <div class="kasi-profile-head__avatar">
      @if (rider.media?.address) {
        <img [src]="environment.root + rider.media?.address" />
      }
      @if (!rider.media?.address) {
        <i nz-icon nzType="user"></i>
      }
    </div>
    <div class="kasi-profile-head__main">
      <h1 class="kasi-profile-head__name">{{ rider.firstName }} {{ rider.lastName }}</h1>
      <div class="kasi-profile-head__meta">
        <span>{{ 'profile.mobileNumber' | translate }}: {{rider.mobileNumber | phone}}</span>
        <span>{{ 'profile.registeredOn' | translate }}: {{rider.registrationTimestamp | date: "short"}}</span>
        <nz-badge [nzStatus]="rider.status === 'Enabled' ? 'success' : 'error'" [nzText]="rider.status"></nz-badge>
      </div>
      <div class="kasi-profile-head__tags">
        @if (rider.status == riderStatus.Disabled) {
          <nz-tag [nzColor]="'red'">{{ 'enum.rider.status.blocked' | translate
          }}</nz-tag>
        }
      </div>
    </div>
    <div class="kasi-profile-head__actions">
      <button nz-button [nzType]="'dashed'" nzDanger (click)="deleteRider(rider.id)">
        <i nz-icon nzType="delete"></i>
      </button>
      <button nz-button nz-dropdown [nzDropdownMenu]="menu4">
        {{ 'driver.profile.changeStatus' | translate }}
        <i nz-icon nzType="down"></i>
      </button>
      <nz-dropdown-menu #menu4="nzDropdownMenu">
        <ul nz-menu>
          @if (rider.status === 'Enabled') {
            <li nz-menu-item (click)="changeStatus(riderStatus.Disabled)">{{
            'enum.rider.status.blocked' | translate }}</li>
          }
          @if (rider.status === 'Disabled') {
            <li nz-menu-item (click)="changeStatus(riderStatus.Enabled)">{{
            'enum.rider.status.enabled' | translate }}</li>
          }
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
  <div class="kasi-tabs">
    <nz-tabset nzLinkRouter [nzLinkExact]="false">
      <nz-tab>
        <a *nzTabLink nz-tab-link routerLink="details">{{ 'riders.tab.details' | translate }}</a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link routerLink="financials">{{ 'riders.tab.creditrecords' | translate }}</a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link routerLink="orders">{{ 'riders.tab.orders' | translate }}</a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link routerLink="addresses">{{ 'riders.tab.addresses' | translate }}</a>
      </nz-tab>
    </nz-tabset>
  </div>
  <router-outlet></router-outlet>
}