@if ((query | async)?.data?.distressSignal; as sos) {
  <div class="kasi-profile-head">
    <div class="kasi-profile-head__avatar"><i nz-icon nzType="alert"></i></div>
    <div class="kasi-profile-head__main">
      <h1 class="kasi-profile-head__name">#{{sos.id}}</h1>
      <div class="kasi-profile-head__meta">
        <span>{{ 'complaint.inscriptionTime' | translate }}: {{sos.createdAt | timeago}}</span>
        <span>{{ 'profile.submittedBy' | translate }}: {{sos.submittedByRider ? ('profile.rider' | translate) :
        ('profile.driver' | translate)}}</span>
      </div>
      <div class="kasi-profile-head__tags">
        <nz-tag [nzColor]="tagColor.sosStatus(sos.status)">{{ ('enum.sosStatus.' + camelCase(sos.status)) | translate
        }}</nz-tag>
      </div>
    </div>
  </div>
  <div class="kasi-tabs">
    <nz-tabset nzLinkRouter>
      <nz-tab>
        <a *nzTabLink nz-tab-link routerLink="info">{{ 'profile.details' | translate }}</a>
      </nz-tab>
    </nz-tabset>
  </div>
  <router-outlet></router-outlet>
}