<div class="kasi-page-head">
  <div class="kasi-page-head__text">
    <h1 class="kasi-title">{{ 'announcement.title' | translate }}</h1>
    <p>{{ 'announcement.subtitle' | translate }}</p>
  </div>
</div>
<form nz-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="kasi-form-sections">
    <section class="kasi-form-section">
      <div class="kasi-form-section__aside">
        <h2 class="kasi-form-section__title">{{ 'announcement.section.general.title' | translate }}</h2>
        <p class="kasi-form-section__desc">{{ 'announcement.section.general.desc' | translate }}</p>
      </div>
      <div class="kasi-form-section__body">
        <div class="kasi-form kasi-form--grid">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="title">{{ 'profile.title' | translate }}</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="title" id="title">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="userType">{{ 'profile.userType' | translate }}</nz-form-label>
            <nz-form-control>
              <nz-select [nzMaxTagCount]="3" nzMode="default" [nzPlaceHolder]="'profile.pleaseSelect' | translate" formControlName="userType">
                <nz-option [nzLabel]="'profile.driver' | translate" nzValue="Driver"></nz-option>
                <nz-option [nzLabel]="'profile.rider' | translate" nzValue="Rider"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="kasi-form__full">
            <nz-form-label nzRequired nzFor="description">{{ 'profile.description' | translate }}</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="description" id="description">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="url">{{ 'profile.url' | translate }}</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="url" id="url">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="dates">{{ 'coupons.availabilityTime' | translate }}</nz-form-label>
            <nz-form-control>
              <nz-range-picker id="dates" formControlName="dates" class="w-full"></nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </section>
  </div>
  <div class="kasi-form-page-actions">
    <button *ngIf="form.value.id != null" nz-button nzDanger type="button" (click)="deleteAnnouncement()">{{ 'profile.delete' | translate }}</button>
    <button nz-button nzType="default" type="button" (click)="cancel()">{{ 'form.cancel' | translate }}</button>
    <button nz-button nzType="primary" [disabled]="form.invalid" type="submit">{{ 'profile.saveChanges' | translate }}</button>
  </div>
</form>