@if ((query | async)?.data?.operator; as operator) {
  <div class="kasi-profile-head">
    <div class="kasi-profile-head__avatar"><i nz-icon nzType="user"></i></div>
    <div class="kasi-profile-head__main">
      <h1 class="kasi-profile-head__name">{{ operator.firstName }} {{ operator.lastName }}</h1>
      <div class="kasi-profile-head__meta">
        <span>{{ 'profile.userName' | translate }}: {{ operator.userName }}</span>
        @if (operator.email) {
          <span>{{ 'profile.email' | translate }}: {{ operator.email }}</span>
        }
      </div>
    </div>
  </div>
}
<div class="kasi-tabs">
  <nz-tabs nzLinkRouter>
    <nz-tab>
      <a *nzTabLink nz-tab-link routerLink="details">{{ 'users.tab.details' | translate }}</a>
    </nz-tab>
  </nz-tabs>
</div>
<router-outlet></router-outlet>
