<div class="kasi-page-head">
  <div class="kasi-page-head__text">
    <h1 class="kasi-title">{{ 'role.title' | translate }}</h1>
    <p>{{ 'role.subtitle' | translate }}</p>
  </div>
</div>
<div class="kasi-card">
  <div class="kasi-card__body">
    <form nz-form class="kasi-form" [formGroup]="form" nzLayout="vertical" (ngSubmit)="onSubmit()">
        <input formControlName="id" type="hidden" hidden>
        <div class="kasi-form--grid kasi-form--3">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="title">{{ 'profile.title' | translate }}</nz-form-label>
                <nz-form-control>
                    <input nz-input required id="title" formControlName="title">
                </nz-form-control>
            </nz-form-item>
        </div>
        <h4>{{ 'role.permissions' | translate }}</h4>
        <div *ngFor="let category of getPermissionsCategories()" class="lg:grid lg:grid-cols-3 lg:gap-2 pt-2">
            <h6>{{category}}</h6>
            <label nz-checkbox (nzCheckedChange)="onPermissionCheckChanged(category, permission, $event)" [nzChecked]="isPermissionChecked(category, permission)" *ngFor="let permission of getCategoryPermissions(category)">{{permission}}</label>
        </div>
    </form>
    <div class="kasi-form-actions">
      <button nz-button nzType="primary" type="button" [disabled]="form.invalid" (click)="onSubmit()">{{ 'profile.submit' | translate }}</button>
    </div>
  </div>
</div>